<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  This nuget config file is used in the ValidateNupkg project to ensure that the package we built is the one being tested.
  It overrides any other package sources and only uses the local nupkgs directory where our built package is located.
  -->
  <packageSources>
    <clear />
    <add key="local" value="../nupkgs" />
  </packageSources>
</configuration>
